.log-flex {
    display: flex;

}
.top-banner{
    background-color: #444;
}
.log-w-img {
    width: 60%;
}

.log-info {
    width: 40%;
    padding-left: 40px;
    padding-right: 40px;
}

.l-w-i {
    width: 100%;
}

.log-h4 {
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    text-align: left;
    margin-top: 40px;
}

.login-input {
    width: 100%;
    height: 40px;
    outline: none !important;
    border: none;
    background-color: #F2F2F2;
    border-radius: 7px;
    padding-left: 15px;
}

.f-t {
    text-align: left;
    color: #333333;
}

.log-btn {
    margin-top: 0px;
    width: 100%;
    height: 40px;
    background-color: #007AFF;
    color: white;
    border-radius: 7px;
    border: none;
    font-size: 17px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}

.log-btn-google {
    margin-top: 40px;
    width: 100%;
    height: 40px;
    background-color: #333333;
    color: white;
    border-radius: 7px;
    border: none;
    font-size: 17px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}

.forget-p {
    margin-top: -10px;
}

.devider {
    width: 100%;
    border-bottom: 1px solid #E5E5E5;
    margin-top: 40px;
}

.g-icon {
    margin-right: 10px;
    margin-top: -5px;
    font-size: 23px;
}

.copy-write{
    margin-top: 140px;
}



@media only screen and (min-width: 320px) and (max-width:  480px) {
    .log-flex {
        display: block;
        width: 100%;
    
    }

    .log-info {
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
    }

    .log-w-img {
        width: 100%;
    }

   
   
}



@media only screen and (min-width: 481px) and (max-width:  768px) {
    .log-flex {
        display: block;
        width: 100%;
    
    }
    .log-w-img {
        width: 100%;
    }
    .log-info {
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
    }
    .copy-write{
        margin-top: 70px;
    }

}


@media only screen and (min-width: 769px) and (max-width:  1200px) {
    .copy-write{
        margin-top: 50px;
    }

}