.top-section{
    border-bottom: 1px solid #C1C1C1;
    height: 2.3rem;
    background-color: rgba(0, 0, 0, 0.299);
}

.top-ico{
    color: white;
    font-size: 20px;
    margin-left: 2rem;
}


@media only screen and (min-width: 320px) and (max-width:  480px) {

    .top-ico{
        margin: auto;
        text-align: center;
    }

    .top-section{
        border-bottom: 1px solid #C1C1C1;
        height: 2.6rem;
        background-color: rgba(0, 0, 0, 0.299);
    }
    
}



@media only screen and (min-width: 481px) and (max-width:  768px) {
    .top-ico{
        margin: auto;
        text-align: center;
    }
}