.ab-btn2 {
    border-radius: 10px;
    color: #fff !important;
    font-size: 13px;
    font-weight: 700;
    padding: 6px 0;
    width: 120px;
    background-color: #f04f23;
    margin-top: 3rem;
}

.btn-join {
    background-color: #f04f23;
    border: 1px solid #f04f23;
    color: #fff !important;
    font-family: Roboto, sans-serif;
    font-size: 2.8rem !important;
    font-weight: 800;
    margin-top: 1.5rem;
    padding: 0 2rem !important;
}

.c-icon {
    font-size: 2.2rem;
    margin-top: -10px;
}


.con-info {
    padding-top: 100px !important;
}



@media only screen and (min-width: 320px) and (max-width: 480px) {
    .btn-join {
        background-color: #f04f23;
        border: 1px solid #f04f23;
        color: #fff !important;
        font-family: Roboto, sans-serif;
        font-size: 1.4rem !important;
        font-weight: 800;
        margin-top: 1.5rem;
        padding: 0.5rem 2rem !important;
    }


    .c-icon {
        font-size: 1.4rem;
        margin-top: -5px;
    }
}




@media only screen and (min-width: 481px) and (max-width: 768px) {

    .btn-join {
        background-color: #f04f23;
        border: 1px solid #f04f23;
        color: #fff !important;
        font-family: Roboto, sans-serif;
        font-size: 1.4rem !important;
        font-weight: 800;
        margin-top: 1.5rem;
        padding: 0.5rem 2rem !important;
    }

    .c-icon {
        font-size: 1.4rem;
        margin-top: -5px;
    }

    .con-info {
        padding-top: 30px !important;
    }
}


@media only screen and (min-width: 769px) and (max-width: 1200px) {
    .btn-join {
        background-color: #f04f23;
        border: 1px solid #f04f23;
        color: #fff !important;
        font-family: Roboto, sans-serif;
        font-size: 2rem !important;
        font-weight: 800;
        margin-top: 1.5rem;
        padding: 0.5rem 2rem !important;
    }

    .c-icon {
        font-size: 2rem;
        margin-top: -10px;
    }

    .con-info {
        margin-top: -50px !important;
    }
}