.recentProduct{
    margin: 50px 0 0 20px;
    box-shadow: 0px 5px 30px 5px rgb(210, 210, 210);
    padding: 10px;
}
#productImg{
    width: 50%;
    margin: 5px;
}
#recentProductName{
    text-transform: uppercase;
    margin: 10px 0;
}
#productDetails{
    text-align: justify;
    margin: 10px;
}